<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<H1>SwampDragon ReactJS Example Project</H1>
<div></div>
<div id="ServerApp"></div>

<!-- SwampDragon -->
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src="http://localhost:9999/settings.js"></script>

<!-- Main app loader -->
<script data-main="{{ STATIC_URL }}/app" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>

</body>
</html>
